#readerTable{
    width: 90%;
}
#mainDiv{
    max-width: 80%;
}
h1{
    text-align: center;
}
.control-label, .form-label{
    justify-content: start;
    align-content: start;
    font-size: large;
}
.lb-lg{
    font-size: large;
    text-align: center;
}
.required:after {
    content:" *";
    color: red;
}
.mt1{
    margin-top: -15px;
}
.checkCenter{
    padding-top: 50%;
}